/target
/.specify/*
!/.specify/workflows/
/.specify/workflows/*
!/.specify/workflows/speckit/
/.specify/workflows/speckit/*
!/.specify/workflows/speckit/workflow.yml
!/.specify/scripts/
/.specify/scripts/*
!/.specify/scripts/bash/
/.specify/scripts/bash/*
!/.specify/scripts/bash/setup-plan.sh
!/.specify/scripts/bash/setup-tasks.sh
!/.specify/scripts/bash/check-prerequisites.sh
!/.specify/templates/
/.specify/templates/*
!/.specify/templates/plan-template.md
!/.specify/templates/tasks-template.md
/.opencode/*
!/.opencode/commands/
/.opencode/commands/*
!/.opencode/commands/speckit.plan.md
!/.opencode/commands/speckit.tasks.md
!/.opencode/commands/speckit.implement.md
